@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
body{
  font-family: 'Rubik', sans-serif;
  color: white;
}
header{
  width: 100%;
  background-color: cadetblue;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.headerContent{
  width: 1920px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

}
.logoPagina a{
  text-decoration: none;
  color: white;
}
nav ul{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
nav li{
  list-style: none;
}
nav a{
  text-decoration: none;
  color: white;
}
nav a:hover{
  color: black;
}
main{
  background-color: #242424;
  height: 100%;
  min-height: 1000px;
}
h1{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 35px;
}
h2{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 35px;
}
form{
  padding: 80px;
  font-size: 1.2rem;
  width: 800px;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}
form button{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 1rem;
  padding: 15px 60px;
  background-color: cadetblue;
  border: none;
  border-radius: 28px;
  width: 30%;
  margin-top: 30px;
}
form button:hover{
  color: black;
  cursor: pointer;
}
input {
  margin-top: 20px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 30px;
  outline: none;
  opacity: .6;
  padding-bottom: 15px;
  padding-left: 50px;
  width: 100%;
}
.invalid-input{
  border-bottom: 1px solid red;
}
.register{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.login{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

footer{
  background-color: cadetblue;
  min-height: 250px;
}

.valid-input-p{
  display: none;
}
.invalid-input-p{
  color: red;
  margin-bottom: 25px;
}