@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
body{
  font-family: 'Rubik', sans-serif;
  color: white;
}
header{
  width: 100%;
  background-color: cadetblue;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.headerContent{
  width: 1920px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

}
.logoPagina a{
  text-decoration: none;
  color: white;
}
nav ul{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
nav li{
  list-style: none;
}
nav a{
  text-decoration: none;
  color: white;
}
nav a:hover{
  color: black;
}
main{
  background-color: #242424;
  height: 100%;
  min-height: 1000px;
}
h1{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 35px;
}
h2{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 35px;
}
form{
  padding: 80px;
  font-size: 1.2rem;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContent{
  width: 100%;
}
button{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 1rem;
  padding: 15px 60px;
  background-color: cadetblue;
  border: none;
  border-radius: 28px;
  width: 30%;
  margin-top: 30px;
}
button:hover{
  color: black;
  cursor: pointer;
}
.smallButton{
  font-weight: 400;
  padding: 6px 30px;
  border-radius: 28px;
  width: 15%;
  margin-top: 0px;
}
input, select{
  margin-top: 20px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 30px;
  outline: none;
  opacity: .6;
  padding-bottom: 15px;
  width: 100%;
}
option{
  background-color: #242424;
  border: none;
}
.invalid-input{
  border-bottom: 1px solid red;
}
.register, .login, .newleague{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.loginInvalid{
  color: red;
}
.loginValid{
  display: none;
}
footer{
  background-color: cadetblue;
  min-height: 250px;
}

.valid-input-p{
  display: none;
}
.invalid-input-p{
  color: red;
  margin-bottom: 25px;
}
.homeContent{
    width: 1920px;
    margin: 0 auto;
}
.leagues{
  margin-top: 50px;
}
.leagues li{
  margin-bottom: 25px;
  font-size: 1.2rem;
}
.leagues a{
  text-decoration: none;
  color: white;
}
.leagues a:hover{
  color:grey
}
.leagueContent{
  width: 1920px;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  
}
.leagueMap{
  background-image: url('/src/assets/img/mapaLol.jpg');
  background-size: cover;
  width: 100%;
  height: 800px;
  margin-bottom: 50px;
}
.ladoMap{
  width: 50%;
}
.ladoMercado{
  width: 50%;
}
.myTeamForm{
  width: 10%;
  background-color: white;
  color: black;
  font-size: 1.3rem;
  padding-bottom: 10px;
  padding-top: 10px;
}
#topSelect{
  position: absolute;
  margin-top: 200px;
  margin-left: 25px;
  width: 150px;
}
#jngSelect{
  position: absolute;
  margin-top: 350px;
  margin-left: 175px;
  width: 150px;
}
#midSelect{
  position: absolute;
  margin-top: 450px;
  margin-left: 325px;
  width: 150px;
}
#adcSelect{
  position: absolute;
  margin-top: 675px;
  margin-left: 650px;
  width: 150px;
}
#supSelect{
  position: absolute;
  margin-top: 675px;
  margin-left: 450px;
  width: 150px;
}
.jugadoresMercado{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}